<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
</head>

<body>
  <h2>Register user free</h2>
  <form action="/auth/register" method="POST">
    <% if (typeof error !=='undefined' ) { %>
    <p style="color: red;">
      <%= error %>
    </p>
    <% } %>

    <div>
      <label for="username">Username</label><br />
      <input type="text" id="username" name="username" value="<%= typeof username !== 'undefined' ? username : '' %>" required />

    </div>
    <div>
      <label for="email">Email</label><br />
      <input type="text" id="email" name="email" value="<%= typeof email !== 'undefined' ? email : '' %>" required />
    </div>
    <div>
      <label for="password">Password</label><br />
      <input type="password" id="password" name="password" required />
    </div>
    <br />
    <button type="submit">Register</button>
  </form>
</body>

</html>